svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80vw;
  height: 80vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

#ngon-3 {
  stroke: #ff3700;
}

#ngon-4 {
  stroke: #ff9100;
}

#ngon-5 {
  stroke: #ffea00;
}

#ngon-6 {
  stroke: #bbff00;
}

#ngon-7 {
  stroke: #62ff00;
}

#ngon-8 {
  stroke: #09ff00;
}

#ngon-9 {
  stroke: #00ff51;
}

#ngon-10 {
  stroke: #00ffaa;
}

#ngon-11 {
  stroke: #00fbff;
}

#ngon-12 {
  stroke: #00a2ff;
}

#ngon-13 {
  stroke: #0048ff;
}

#ngon-14 {
  stroke: #1100ff;
}

#ngon-15 {
  stroke: #6a00ff;
}

#ngon-16 {
  stroke: #c400ff;
}

#ngon-17 {
  stroke: #ff00e1;
}

#ngon-18 {
  stroke: #ff0088;
}

#ngon-19 {
  stroke: #ff002f;
}

.ngon {
  stroke-width: 3;
  opacity: 0;
  -webkit-transition: opacity 6500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 6500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.ngon.active {
  opacity: 1;
  -webkit-transition: opacity 0ms;
  transition: opacity 0ms;
}
